extends ./layout

block body
  div(ng-controller='AppCtrl')
      .container
          .jumbotron
              h2 {{name}}

              div(ng-view)

  script(src='js/app.js')
  script(src='js/core.js')
  script(src='js/modules/chart.js')
  script(src='js/modules/time.js')
  script(src='js/filters.js')
  script(src='js/directives.js')