form.form-horizontal
    fieldset
        legend
            Settings
        div.form-group
            label.col-md-4(for='charttitle') Chart Title
            div.col-md-6
                input.form-control.input-md(ng-model='highchartsNG.title.text', type='text', placeholder='Chart Title', required='')
        div.form-group
            label.col-md-4(for='chartsubtitle') Chart Subtitle
            div.col-md-6
                input.form-control.input-md(ng-model='highchartsNG.subtitle.text', type='text', placeholder='Chart Subtitle', required='')

        div.form-group
            label.col-md-4(for='rider') Rider
            div.col-md-6
                input.form-control.input-md(ng-model='rider.name', type='text', placeholder='Rider Name', required='')>

        div.form-group
            label.col-md-4(for='times') Times
            div.col-md-4
                textarea.form-control(ng-model='rider.times', name='times', required='')

        div.form-group
            label.col-md-4(for='addbutton')
            div.col-md-8
                button.btn.btn-success(id='addbutton', name='addbutton', ng-click='addSeries()') +
                button.btn.btn-default.pull-right(id='button2id', name='button2id', ng-click='exportPDF()') Export

        div.form-group
            div.col-md-8.col-md-offset-4
                span.bg-warning(ng-show=('error')) {{errmsg}}

highchart(id='chart1', config='highchartsNG')