form.form-horizontal
    fieldset
        legend
            Settings
        div.form-group
            label.col-md-4(for='charttitle') Chart Title
            div.col-md-6
                input.form-control.input-md(ng-model='highchartsNG.title.text', id='charttitle', name='charttitle', type='text', placeholder='Chart Title', required='')
        div.form-group
            label.col-md-4(for='chartsubtitle') Chart Subtitle
            div.col-md-6
                input.form-control.input-md(ng-model='highchartsNG.subtitle.text', id='chartsubtitle', name='chartsubtitle', type='text', placeholder='Chart Subtitle', required='')

        div.form-group
            label.col-md-4(for='rider') Rider
            div.col-md-6
                input.form-control.input-md(ng-model='rider.name', id='rider', name='rider', type='text', placeholder='Rider Name', required='')>

        div.form-group
            label.col-md-4(for='times') Times
            div.col-md-4
                textarea.form-control(ng-model='rider.times', id='times', name='times') 1'34.200

        div.form-group
            label.col-md-4(for='addbutton')
            div.col-md-8
                button.btn.btn-success(id='addbutton', name='addbutton', ng-click='addSeries()') +
                button.btn.btn-default.pull-right(id='button2id', name='button2id', ng-click='exportPDF()') Export

highchart(id='chart1', config='highchartsNG')
